{% extends "layout.twig" %}

{% block content %}
    <h1>Add User</h1>
    <div class="alert alert-primary" role="alert">
      {{ responseMessage }}
    </div>

    <form action="/cursophp/save" method="post" >
        <label for="">Email:</label>
        <input type="text" name="email" placeholder="Email"><br>
        <label for="">Password:</label>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Save</button>
        
    </form>

    <br><br>
    <a href="/cursophp/login">Login</a>
{% endblock %}